{{ 'custom-products-with-text.css' | asset_url | stylesheet_tag }}

{% liquid
    # Variables
    assign custom_padding_top = section.settings.custom_padding_top
    assign custom_padding_bottom = section.settings.custom_padding_bottom

    # Blocks
    assign section_headings = section.blocks | where: 'type', 'headings'
    assign section_products = section.blocks | where: 'type', 'product'
%}

<section class="b-custom-products-with-text" style="padding: {{ custom_padding_top }}px 0 {{ custom_padding_bottom }}px;">
    <div class="l">
        <div class="b-custom-products-with-text__wrapper flex dir-col align-center justify-center row-gap-20">
          {% if section_headings.size > 0 %}
            {% render 'snippet-headings' section_headings: section_headings %}
          {% endif %}
          {% if section_products.size > 0 %}
          <div class="b-custom-products-with-text__products-wrapper flex dir-col  align-center row-gap-40">
              {% for product in section_products %}
                      {% assign section_product = all_products[product.settings.section_product] %}
                      {% assign section_product_list = product.settings.section_product_list %}
                      {% if section_product != blank and section_product.available != false %}
                          {% render 'snippet-product-card' section_product: section_product %}
                      {% endif %}
                      {% if section_product_list != blank %}
                        <div class="b-custom-products-with-text__products">
                          {% for product in section_product_list %}
                            {% if product != section_product %}
                              {% render 'snippet-product-card' section_product: product %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
              {% endfor %}
          </div>
        {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.custom-product-with-text.name",
  "settings": [
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 1,
      "max": 100,
      "step": 1,
      "label": "t:sections.custom-product-with-text.settings.padding-top.label",
      "default": 40
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 1,
      "max": 100,
      "step": 1,
      "label": "t:sections.custom-product-with-text.settings.padding-bottom.label",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "headings",
      "name": "t:sections.custom-product-with-text.blocks.headings.name",
      "settings": [
        {
          "type": "select",
          "id": "custom_heading",
          "label": "t:sections.custom-product-with-text.blocks.headings.settings.custom-heading.label",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.custom-product-with-text.blocks.headings.settings.h6.label"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "heading_text",
          "label": "t:sections.custom-product-with-text.blocks.headings.settings.heading-text.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.custom-product-with-text.blocks.headings.settings.heading-color.label",
          "default": "#000000"
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "t:sections.custom-product-with-text.blocks.headings.settings.heading-font.label",
          "default": "helvetica_n4"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.custom-product-with-text.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "section_product",
          "label": "t:sections.custom-product-with-text.blocks.product.settings.product-default.label"
        },
        {
          "type": "product_list",
          "id": "section_product_list",
          "label": "t:sections.custom-product-with-text.blocks.product.settings.product-list.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-product-with-text.name"
    }
  ]
}
{% endschema %}