.b-custom-media-with-text__media, .b-custom-media-with-text__video {
    width: 100%;
}

@media (min-width: 768px) {
    .b-custom-media-with-text__media {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }
    .b-custom-media-with-text__image, .b-custom-media-with-text__video {
        width: 48%;
        height: 300px;
    }
}